@using CPSS.Common.Core.Mvc.UIControl
@using CPSS.Common.Core.Type.ConstDefined
@using CPSS.Service.ViewService.ViewModels.HeadButtons.Request
@{
    ViewBag.Title = "CompanyList";
    Layout = "~/Views/Shared/_Layout.cshtml";
    WorkContext.Resource
        //.AddPageCss("")
        .AddPageScripts("easyui-1.5/locale/easyui-lang-zh_CN", "grid/tablegrid", "easyui-1.5/plugins/jquery.datagrid.cellediting", "controlshelper");
}

@section buttons{
    @{
        Html.RenderAction("headbuttons", "commonpartial", new RequestHeadButtonsViewModel { MenuID = MenuValueConstDefined.rtBasicCom });
    }
}

<div id="billhead" class="easyui-panel" data-options="border: false" style="max-height: 300px; max-width: 100%; overflow: hidden;">
    <div class="easyui-panel" data-options="border: false">
        @UIHelper.textBox("txtSerialNumber", "编号", _buttonText: string.Empty)
        @UIHelper.textBox("txtName", "名称", _tabIndex: 1, _buttonText: string.Empty)
        @UIHelper.textBox("txtSpelling", "拼音", _tabIndex: 2, _buttonText: string.Empty)
        @UIHelper.dropDownList("ddlPriceMode", "售价方式", new List<DropDownOption> { new DropDownOption { Text = "售价1", Value = "1" }, new DropDownOption { Text = "售价2", Value = "2" }, new DropDownOption { Text = "售价3", Value = "3" } }, _tabIndex: 3, _defaultValue: "1", _selectPanelHeight: 65)
        @UIHelper.textBox("txtEmail", "Email", _tabIndex: 4, _buttonText: string.Empty)
        @UIHelper.textBox("txtLinkMan", "联系人", _tabIndex: 5, _buttonText: string.Empty)
        @UIHelper.textBox("txtLinkTel", "联系电话", _tabIndex: 6, _buttonText: string.Empty)
        @UIHelper.dropDownList("ddlStatus", "状态", new List<DropDownOption> { new DropDownOption { Text = "正常", Value = "1" }, new DropDownOption { Text = "删除", Value = "2" } }, _tabIndex: 7, _defaultValue: "1", _selectPanelHeight: 45)
    </div>
    <div class="easyui-panel" data-options="border: false" style="padding-right: 20px; text-align: right;">
        @UIHelper.linkButton("查  询", "btnSearch")
    </div>
</div>

@section grid{
    <div id="billgrid" class="easyui-panel" data-options="border: false" style="padding-top: 3px;">
        <table class="easyui-datagrid" id="dvgDataGrid">
            <thead>
                <tr>
                    <th field="ComId" data-options="hidden: true">ComID</th>
                    <th field="ClassId" data-options="hidden: true">ClassID</th>
                    <th field="ParentId" data-options="hidden: true">ParentID</th>
                    <th field="SerialNumber" data-options="sortable: true" width="80px;">编号</th>
                    <th field="Name" data-options="sortable: true" width="180px;">名称</th>
                    <th field="Spelling" data-options="sortable: true" width="80px;">拼音</th>
                    <th field="PriceMode" data-options="sortable: true" width="100px;">价格方式</th>
                    <th field="Email" data-options="sortable: true" width="130px;">Email</th>
                    <th field="LinkMan" data-options="sortable: true" width="130px;">联系人</th>
                    <th field="LinkTel" data-options="sortable: true" width="130px;">联系电话</th>
                    <th field="Status" data-options="sortable: true" width="80px;">状态</th>
                    <th field="Comment" width="256px;">备注</th>
                    <th field="sort" data-options="sortable: true" width="50px;">排序</th>
                </tr>
            </thead>
        </table>
    </div>
}

@section scripts{
    <script type="text/javascript">
        $(document.body)
            .ready(function() {
                $("#billbutton a")
                    .on("click",
                        function() {
                            var id = $(this).attr("id");
                            switch (id) {
                                case "rtBasicCom_TB_Add":
                                    //alert($("#txtSerialNumber").textbox("getValue"));
                                    _window.open("add_company", "新增公司信息", 600, 550, "/basic/addcompany");
                                    break;
                                case "rtBasicCom_TB_Edit":
                                    _window.open("add_company", "新增公司信息", 600, 550, "/basic/editcompany");
                                    break;
                                case "rtBasicCom_TB_Delete":

                                    break;
                                case "rtBasicCom_TB_Resume":

                                    break;
                                case "rtBasicCom_TB_Class":

                                    break;
                                case "rtBasicCom_TB_Preview":

                                    break;
                                case "rtBasicCom_TB_Design":

                                    break;
                            }
                        });
                $("#dvgDataGrid")
                    .datagrid({
                        rownumbers: true,
                        singleSelect: true,
                        pagination: true,
                        url: '/basic/getcompanylist',
                        method: 'post',
                        pageSize: 1,
                        pageList: [1, 10, 20, 30, 40, 50],
                        queryParams: {
                            data: {
                                name: "test2"
                            }
                        }
                    });
                var pg = $("#dvgDataGrid").datagrid("getPager");

                if (pg) {
                    $(pg)
                        .pagination({
                            onSelectPage: function(pageIndex, pageSize) {
                                var data = {
                                    page: pageIndex,
                                    rows: pageSize
                                };
                                CSPPLib.Utils.AjaxRequest.postData("/basic/getcompanylist",
                                    data,
                                    function(result) {
                                        $("#dvgDataGrid").datagrid({ data: result });
                                    });
                            }
                        });
                }
                //var columns = [
                //    { field: 'comid', title: 'ComID', hidden: true },
                //    { field: 'classid', title: 'ClassID', hidden: true },
                //    { field: 'parentid', title: 'ParentID', hidden: true },
                //    { field: 'serialnumber', title: '编号', width: 400, editor: "label", sortable: true },
                //    { field: 'name', title: '名称', width: 400, editor: "text", sortable: true },
                //    {
                //        field: 'name',
                //        title: 'Name',
                //        width: 100,
                //        editor: { type: "numberspinner", options: { precision: 2, increment: 0.5 } }, sortable: true
                //    },
                //    { field: 'price', title: 'Price', width: 350, align: 'right', readonly: true, sortable: true },
                //    { field: "validdate", title: "Valid Date", width: 145, editor: { type: "datetimebox" }, sortable: true },
                //    {
                //        field: "status",
                //        title: "Status",
                //        width: 560,
                //        align: "center",
                //        editor: { type: "checkbox", options: { on: "√", off: "" } }, sortable: true
                //    }
                //];
                //tableGrid = CSPPLib.UI.TableGrid.init("dvgDataGrid", true, columns, "code", 19);

            });

    </script>
}
