@using CPSS.Common.Core.Type.ConstDefined
@using CPSS.Service.ViewService.ViewModels.HeadButtons.Request
@{
    ViewBag.Title = "CompanyList";
    Layout = "~/Views/Shared/_Layout.cshtml";
    WorkContext.Resource
        //.AddPageCss("")
        .AddPageScripts("easyui-1.5/locale/easyui-lang-zh_CN", "grid/tablegrid", "easyui-1.5/plugins/jquery.datagrid.cellediting", "controlshelper");
}

@section buttons{
    @{
        Html.RenderAction("headbuttons", "commonpartial", new RequestHeadButtonsViewModel { MenuID = MenuValueConstDefined.rtBasicCom });
    }
}

<div id="billhead" class="easyui-panel" data-options="border: false" style="max-height: 300px; max-width: 100%; overflow: hidden;">
    @UIHelper.textBox("test1", "测试测试1")
    @UIHelper.textBox("test2", "测试测试2", _tabIndex: 1)
    @UIHelper.textBox("test3", "测试测试3", _tabIndex: 2)
    @UIHelper.textBox("test4", "测试测试4", _tabIndex: 3)
    @UIHelper.textBox("test5", "测试测试5", _tabIndex: 4)
</div>

@section grid{
    <div id="billgrid" class="easyui-panel" data-options="border: false" style="padding-top: 3px;">
        <table class="easyui-datagrid" id="dvgDataGrid" data-options="rownumbers:true,singleSelect:true,pagination:true,url:'/basic/getcompanylist',method:'post'">
            <thead>
            <tr>
                <th field="comid" data-options="hidden: true">ComID</th>
                <th field="classid" data-options="hidden: true">ClassID</th>
                <th field="parentid" data-options="hidden: true">ParentID</th>
                <th field="serialnumber" data-options="sortable: true" width="80px;">编号</th>
                <th field="name" data-options="sortable: true" width="180px;">名称</th>
                <th field="pinyin" data-options="sortable: true" width="80px;">拼音</th>
                <th field="pricemode" data-options="sortable: true" width="100px;">价格方式</th>
                <th field="email" data-options="sortable: true" width="130px;">Email</th>
                <th field="linkman" data-options="sortable: true" width="130px;">联系人</th>
                <th field="linktel" data-options="sortable: true" width="130px;">联系电话</th>
                <th field="status" data-options="sortable: true" width="80px;">状态</th>
                <th field="comment" width="256px;">备注</th>
                <th field="sort" data-options="sortable: true" width="50px;">排序</th>
            </tr>
            </thead>
        </table>
    </div>
}

@section scripts{
    <script type="text/javascript">
        $(document.body)
            .ready(function() {
                $("#billbutton a").on("click", function() {
                    var id = $(this).attr("id");
                    switch (id) {
                    case "rtBasicCom_TB_Add":
                        _window.open("add_company", "新增公司信息", 800, 650, "/basic/addcompany");
                        break;
                    case "rtBasicCom_TB_Edit":
                        _window.open("add_company", "新增公司信息", 800, 650, "/basic/editcompany");
                        break;
                    case "rtBasicCom_TB_Delete":

                        break;
                    case "rtBasicCom_TB_Resume":

                        break;
                    case "rtBasicCom_TB_Class":

                        break;
                    case "rtBasicCom_TB_Preview":

                        break;
                    case "rtBasicCom_TB_Design":

                        break;
                    }
                });
                var pg = $("#dvgDataGrid").datagrid("getPager");

                if (pg) {
                    $(pg).pagination({
                        onSelectPage: function(pageIndex, pageSize) {
                            alert("adasdasd");
                        }
                    });
                }
                //var columns = [
                //    { field: 'comid', title: 'ComID', hidden: true },
                //    { field: 'classid', title: 'ClassID', hidden: true },
                //    { field: 'parentid', title: 'ParentID', hidden: true },
                //    { field: 'serialnumber', title: '编号', width: 400, editor: "label", sortable: true },
                //    { field: 'name', title: '名称', width: 400, editor: "text", sortable: true },
                //    {
                //        field: 'name',
                //        title: 'Name',
                //        width: 100,
                //        editor: { type: "numberspinner", options: { precision: 2, increment: 0.5 } }, sortable: true
                //    },
                //    { field: 'price', title: 'Price', width: 350, align: 'right', readonly: true, sortable: true },
                //    { field: "validdate", title: "Valid Date", width: 145, editor: { type: "datetimebox" }, sortable: true },
                //    {
                //        field: "status",
                //        title: "Status",
                //        width: 560,
                //        align: "center",
                //        editor: { type: "checkbox", options: { on: "√", off: "" } }, sortable: true
                //    }
                //];
                //tableGrid = CSPPLib.UI.TableGrid.init("dvgDataGrid", true, columns, "code", 19);

            });

    </script>
}
