@model CPSS.Common.Core.RespondWebViewData<CPSS.Service.ViewService.ViewModels.SubCompany.Respond.RespondQuerySubCompanyViewModel>
@using CPSS.Common.Core.Mvc.UIControl
@using CPSS.Service.ViewService.ViewModels.HeadButtons.Respond
@{
    Layout = "~/views/shared/_layout.cshtml";
    WorkContext.Resource
        //.AddPageCss("")
        .AddPageScripts("easyui-1.5/locale/easyui-lang-zh_CN", "grid/tablegrid", "easyui-1.5/plugins/jquery.datagrid.cellediting", "controlshelper", "basic/subcompany/editsubcompany");
    var buttonModel = new List<RespondHeadButtonsViewModel>
    {
        new RespondHeadButtonsViewModel{ ButtonName = "rtBasicCom_TB_Edit_Save", ButtonText = "保存"},
        new RespondHeadButtonsViewModel{ ButtonName = "rtBasicCom_TB_Edit_Cancel", ButtonText = "取消"},
    };
    var _model = Model.rows;
}
@section buttons{
    @Html.Partial("~/Views/Shared/CommonPartial/HeadButtons.cshtml", buttonModel)
}

<div id="billhead" class="easyui-panel" data-options="border: false" style="max-height: 500px; max-width: 100%; overflow: hidden;">
    <input type="hidden" id="txtSubComId" value="@_model.ComId" />
    @UIHelper.textBox(new TextBoxOption { ButtonText = string.Empty, Id = "txtSerialNumber", TabIndex = 1, LabelName = "编号", Value = _model.SerialNumber })
    @UIHelper.textBox(new TextBoxOption { ButtonText = string.Empty, Id = "txtName", TabIndex = 2, LabelName = "名称", Value = _model.Name })
    @UIHelper.textBox(new TextBoxOption { ButtonText = string.Empty, Id = "txtSpelling", TabIndex = 3, LabelName = "拼音", Value = _model. Spelling})
    @UIHelper.dropDownList(new DropDownOption { LabelName = "售价方式", Id = "ddlPriceMode", TabIndex = 4, Value = _model.PriceMode, SelectPanelHeight = 85, SelectItems = new List<DropDownSelectItem> { new DropDownSelectItem { Text = "无", Value = "0" }, new DropDownSelectItem { Text = "售价1", Value = "1" }, new DropDownSelectItem { Text = "售价2", Value = "2" }, new DropDownSelectItem { Text = "售价3", Value = "3" } } })
    @UIHelper.textBox(new TextBoxOption { ButtonText = string.Empty, Id = "txtEmail", TabIndex = 5, LabelName = "Email", Value = _model.Email })
    @UIHelper.textBox(new TextBoxOption { ButtonText = string.Empty, Id = "txtLinkMan", TabIndex = 6, LabelName = "联系人", Value = _model.LinkMan })
    @UIHelper.textBox(new TextBoxOption { ButtonText = string.Empty, Id = "txtLinkTel", TabIndex = 7, LabelName = "联系电话", Value = _model.LinkTel })
    @UIHelper.textBox(new TextBoxOption { ButtonText = string.Empty, Id = "txtSort", TabIndex = 8, LabelName = "排序", Value = _model.sort })
    @UIHelper.textBox(new TextBoxOption { ButtonText = string.Empty, Id = "txtComment", TabIndex = 9, LabelName = "备注", Value = _model.Comment, Multiline = true, Width = 520, Height = 100})
</div>
@section scripts{
    <script type="text/javascript">
        $(document.body)
            .ready(function () {
                CPSSLib.Page.editDepartment.init(@this.WorkContext.GetQueryInt("depid"));
            });
    </script>
}
