@model CPSS.Common.Core.RespondWebViewData<CPSS.Service.ViewService.ViewModels.Employee.Respond.RespondQueryEmployeeViewModel>
@using CPSS.Common.Core.Helper.Extension
@using CPSS.Common.Core.Mvc.UIControl
@using CPSS.Common.Core.SysConfig
@using CPSS.Service.ViewService.Interfaces.SystemParameterConfig
@using CPSS.Service.ViewService.ViewModels.HeadButtons.Respond
@using CPSS.Service.ViewService.ViewModels.SystemParameterConfig.Respond
@{
    ViewBag.Title = "EditEmployee";
    Layout = "~/Views/Shared/_Layout.cshtml";

    WorkContext.Resource
        //.AddPageCss("")
        .AddPageScripts("easyui-1.5/locale/easyui-lang-zh_CN", "grid/tablegrid", "easyui-1.5/plugins/jquery.datagrid.cellediting", "controlshelper", "basic/employee/editemployee");
    var buttonModel = new List<RespondHeadButtonsViewModel>
    {
        new RespondHeadButtonsViewModel{ ButtonName = "rtBasicEmp_TB_Edit_Save", ButtonText = "保存"},
        new RespondHeadButtonsViewModel{ ButtonName = "rtBasicEmp_TB_Edit_Cancel", ButtonText = "取消"},
    };
    var _model = Model.rows;
    
    Dictionary<string, RespondSystemParameterConfigViewModel> sysConfig = null;
    this.WorkContext.LifetimeScopeHandler<ISystemParameterConfigViewService>(service =>
    {
        sysConfig = service.SystemParameterConfig();
    });
    var totalScale = sysConfig[SystemParameterConfigConst.TotalScale].ParameterConfigValue.ToInt16();
    
}
@section buttons{
    @Html.Partial("~/Views/Shared/CommonPartial/HeadButtons.cshtml", buttonModel)
}

<div id="billhead" class="easyui-panel" data-options="border: false" style="max-height: 500px; max-width: 100%; overflow: hidden;">
    @UIHelper.textBox(new TextBoxOption { ButtonText = string.Empty, Id = "txtSerialNumber", TabIndex = 1, LabelName = "编号", Value = _model.SerialNumber })
    @UIHelper.textBox(new TextBoxOption { ButtonText = string.Empty, Id = "txtName", TabIndex = 2, LabelName = "名称", Value = _model.Name })
    @UIHelper.textBox(new TextBoxOption { ButtonText = string.Empty, Id = "txtSpelling", TabIndex = 3, LabelName = "拼音", Value = _model.Spelling })
    @UIHelper.comboGrid(new ComboGridOption { Id = "ddlDepartment", TabIndex = 4, LabelName = "所属部门", Value = _model.DepId.ToString(), IdField = "DepId", Disabled = true, TextField = "Name", SelectPanelHeight = 280, Url = "/commonajax/getalldepartment", GridColumns = new List<ComboGridColumnOption> { new ComboGridColumnOption { field = "DepId", title = "DepId", hidden = true }, new ComboGridColumnOption { field = "SerialNumber", title = "编号" }, new ComboGridColumnOption { field = "Name", title = "名称" }, new ComboGridColumnOption { field = "Spelling", title = "拼音", width = 60 }, new ComboGridColumnOption { field = "Comment", title = "备注", width = 200 } } })
    @UIHelper.numberBox(new NumberBoxOption { Id = "txtLowestDiscount", TabIndex = 5, LabelName = "最低折扣", Value = _model.LowestDiscount.ToString(), Disabled = true, Prefix = string.Empty, Max = 100 })
    @UIHelper.numberBox(new NumberBoxOption { Id = "txtPreInAdvanceTotal", TabIndex = 6, LabelName = "预收金额", Precision = totalScale, Disabled = true, Value = _model.PreInAdvanceTotal })
    @UIHelper.numberBox(new NumberBoxOption { Id = "txtPrePayFeeTotal", TabIndex = 7, LabelName = "预付金额", Precision = totalScale, Disabled = true, Value = _model.PrePayFeeTotal })
    @UIHelper.textBox(new TextBoxOption { ButtonText = string.Empty, Id = "txtMobile", TabIndex = 8, LabelName = "联系电话", Value = _model.Mobile})
    @UIHelper.textBox(new TextBoxOption { ButtonText = string.Empty, Id = "txtAddress", TabIndex = 9, LabelName = "联系地址", Value = _model.Address})
    @UIHelper.textBox(new TextBoxOption { ButtonText = string.Empty, Id = "txtSort", TabIndex = 10, LabelName = "排序", Value = _model.Sort.ToString() })
    @UIHelper.textBox(new TextBoxOption { ButtonText = string.Empty, Id = "txtComment", TabIndex = 11, LabelName = "备注", Value = _model.Comment, Multiline = true, Width = 520, Height = 100 })
</div>
@section scripts{
    <script type="text/javascript">
        $(document.body)
            .ready(function () {
                CPSSLib.Page.editEmployee.init(@this.WorkContext.GetQueryInt("empid"));
            });
    </script>
}