@using CPSS.Common.Core.Helper.Extension
@using CPSS.Common.Core.Mvc.UIControl

@helper textBox(string _textBoxID, string _labelName, string _labelPosition = "before", string _labelAlign = "right", int _labelWidth = 80, int _width = 260, int _height = 30, string _buttonText = "…", int _tabIndex = 0, string _value = "")
{
    <div style="padding-top: 5px; float: left;">
        <input class="easyui-textbox" id="@_textBoxID" type="text" tabindex="@_tabIndex"
               data-options="label:'@_labelName', labelPosition: '@_labelPosition', labelAlign: '@_labelAlign', labelWidth: '@string.Concat(_labelWidth, "px")',
           width: '@string.Concat(_width, "px")', height: '@string.Concat(_height, "px")', buttonText:'@_buttonText', value: '@_value'" style="padding-top: 5px;"/>
    </div>
}

@helper numberBox()
{
    
}

@helper linkButton(string _buttonText, string _buttonID, bool _disabled = false, string _iconCls = "")
{
    <a href="javascript:void(0);" id="@_buttonID" class="easyui-linkbutton" data-options="iconCls:'@_iconCls', disabled: @_disabled.ToLowerString()">@_buttonText</a>
}

@helper dropDownList(string _ddlID, string _labelText, List<DropDownOption> _options, string _labelPosition = "before", string _labelAlign = "right", int _labelWidth = 80, int _width = 260, int _height = 30, int _selectPanelHeight = 200 , int _tabIndex = 0, string _defaultValue = "")
{
    <div style="padding-top: 5px; float: left;">
        <select class="easyui-combobox" id="@_ddlID" tabindex="@_tabIndex"
                data-options="label:'@_labelText', labelPosition: '@_labelPosition', labelAlign: '@_labelAlign', labelWidth: '@string.Concat(_labelWidth, "px")',
           width: '@string.Concat(_width, "px")', height: '@string.Concat(_height, "px")', panelHeight: '@string.Concat(_selectPanelHeight, "px")'"
                style="padding-top: 5px;">
            @foreach (var option in _options)
            {
            <option value="@option.Value" @(!string.IsNullOrEmpty(_defaultValue) && option.Value == _defaultValue ? "selected='selected'" : string.Empty)>@option.Text</option>
            }
        </select>
    </div>
}
