@using CPSS.Common.Core.Helper.Extension
@using CPSS.Common.Core.Mvc.UIControl
@using Newtonsoft.Json.Linq

@helper textBox(TextBoxOption option)
{
    <div style="padding-top: 5px; float: left;">
        <input class="easyui-textbox" id="@option.Id" type="text" tabindex="@option.TabIndex"
               data-options="multiline: @option.Multiline.ToLowerString(), label:'@option.LabelName', labelPosition: '@option.LabelPosition', labelAlign: '@option.LabelAlign', labelWidth: '@string.Concat(option.LabelWidth, "px")', width: '@string.Concat(option.Width, "px")', height: '@string.Concat(option.Height, "px")', buttonText:'@option.ButtonText', value: '@option.Value'"
               style="padding-top: 5px;" />
    </div>
}

@helper numberBox(NumberBoxOption option)
{
    <div style="padding-top: 5px; float: left;">
        <input class="easyui-numberbox" id="@option.Id" type="text" tabindex="@option.TabIndex"
               data-options="label:'@option.LabelName', labelPosition: '@option.LabelPosition', labelAlign: '@option.LabelAlign', labelWidth: '@string.Concat(option.LabelWidth, "px")', width: '@string.Concat(option.Width, "px")', height: '@string.Concat(option.Height, "px")', value: '@option.Value', min: @option.Min, max: @option.Max, precision: @option.Precision, decimalSeparator: '@option.DecimalSeparator', groupSeparator: '@option.GroupSeparator', prefix: '@option.Prefix'"
               style="padding-top: 5px;" />
    </div>
}

@helper linkButton(string _buttonText, string _buttonID, bool _disabled = false, string _iconCls = "")
{
    <a href="javascript:void(0);" id="@_buttonID" class="easyui-linkbutton" data-options="iconCls:'@_iconCls', disabled: @_disabled.ToLowerString()">@_buttonText</a>
}

@helper dropDownList(DropDownOption option)
{
    <div style="padding-top: 5px; float: left;">
        <select class="easyui-combobox" id="@option.Id" tabindex="@option.TabIndex"
                data-options="label:'@option.LabelName', labelPosition: '@option.LabelPosition', labelAlign: '@option.LabelAlign', labelWidth: '@string.Concat(option.LabelWidth, "px")', width: '@string.Concat(option.Width, "px")', height: '@string.Concat(option.Height, "px")', panelHeight: '@string.Concat(option.SelectPanelHeight, "px")'"
                style="padding-top: 5px;">
            @foreach (var item in option.SelectItems)
            {
                <option value="@item.Value" @(!string.IsNullOrEmpty(option.Value) && item.Value == option.Value ? "selected='selected'" : string.Empty)>@item.Text</option>
            }
        </select>
    </div>
}

@helper comboGrid(ComboGridOption option)
{
    <div style="padding-top: 5px; float: left;">
        <input class="easyui-combogrid" id="@option.Id" tabindex="@option.TabIndex"
               data-options="label:'@option.LabelName', labelPosition: '@option.LabelPosition', labelAlign:'@option.LabelAlign', labelWidth: '@string.Concat(option.LabelWidth, "px")', width:'@string.Concat(option.Width, "px")', height:'@string.Concat(option.Height, "px")', panelHeight: '@string.Concat(option.SelectPanelHeight, "px")', panelWidth: '@string.Concat(option.SelectPanelWidth, "px")', value: '@option.Value', disabled: @option.Disabled.ToLowerString(), url: '@option.Url', idField: '@option.IdField', textField: '@option.TextField', mode: '@option.Mode', fitColumns: '@option.FitColumns.ToLowerString()', columns:[@JObject.FromObject(option).GetValue("GridColumns").ToString()] " />
    </div>
}
