<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <link rel="shortcut icon" href="" type="image/x-icon"/>
    <title>CPSS</title>
    <meta name="description" content="ss">
    <meta name="keywords" content="dd">

    <style>
        body {
            margin: 0;
            padding: 0;
        }

        @RenderSection("style", false)
    </style>
    @foreach (var css in WorkContext.Resource.Css)
    {
        <link href="@css" type="text/css" rel="stylesheet">
    }
</head>
<body>
    @RenderSection("buttons", false)

    @RenderBody()

    @RenderSection("grid", false)

@foreach (var script in WorkContext.Resource.JavaScript)
{
    <script type="text/javascript" src="@script"></script>
}

<script type="text/javascript">
    $(document.body)
        .ready(function() {
            var _width = parseInt(parent.contentWidth);
            $("#billbutton, #billhead, #billgrid").panel({ width: _width });
        });

    $(window)
        .resize(function () {
            var _width = parent.contentWidth,
                _endWidth;
            if (_width <= 824) _endWidth = _width - 14;
            else _endWidth = _width;
            $("#billbutton, #billhead, #billgrid").panel({ width: _endWidth });
        });
</script>
@RenderSection("scripts", false)
</body>
</html>