@using CPSS.Common.Core.Mvc.UIControl
@using CPSS.Common.Core.Type.ConstDefined
@using CPSS.Common.Core.Type.EnumType
@using CPSS.Service.ViewService.ViewModels.HeadButtons.Request
@{
    ViewBag.Title = "UserManageList";
    WorkContext.Resource
        //.AddPageCss("")
        .AddPageScripts("easyui-1.5/locale/easyui-lang-zh_CN", "grid/tablegrid", "controlshelper", "basic/user/managelist", "lodop/lodopfuncs");
}
@section buttons{
    @{
        Html.RenderAction("headbuttons", "commonpartial", new RequestHeadButtonsViewModel { MenuID = MenuValueConstDefined.rtUserManage });
    }
}

<div id="billhead" class="easyui-panel" data-options="border: false" style="max-height: 300px; max-width: 100%; overflow: hidden;">
    <input type="hidden" id="txtParentId" value="" />
    <div class="easyui-panel" data-options="border: false">
        @UIHelper.comboGrid(new ComboGridOption { Id = "ddlEmployee", TabIndex = 1, LabelName = "职员信息", IdField = "EmpId", TextField = "Name", SelectPanelHeight = 280, Url = "/commonajax/getallemployee", GridColumns = new List<ComboGridColumnOption> { new ComboGridColumnOption { field = "EmpId", title = "EmpId", hidden = true }, new ComboGridColumnOption { field = "SerialNumber", title = "编号" }, new ComboGridColumnOption { field = "Name", title = "名称" }, new ComboGridColumnOption { field = "Spelling", title = "拼音", width = 60 }, new ComboGridColumnOption { field = "Comment", title = "备注", width = 200 } } })
        @UIHelper.textBox(new TextBoxOption {ButtonText = string.Empty, Id = "txtUserName", TabIndex = 2, LabelName = "用户名"})
    </div>
    <div class="easyui-panel" data-options="border: false" style="padding-right: 20px; text-align: right;">
        @UIHelper.linkButton("查  询", "btnSearch")
    </div>
</div>

@section grid{
    <div id="billgrid" class="easyui-panel" data-options="border: false" style="padding-top: 3px;">
        <table class="easyui-datagrid" id="dvgDataGrid">
            <thead>
                <tr>
                    <th field="ClientId" data-options="hidden: true">UserId</th>
                    <th field="ClassId" data-options="hidden: true">EmpId</th>
                    <th field="Deleted" data-options="hidden: true">Deleted</th>
                    <th field="SerialNumber" width="80px;">登录名</th>
                    <th field="Alias" width="80px;">职员名称</th>
                    <th field="Address" width="180px;">单据前缀</th>
                    <th field="ZipCode" width="80px;">是否管理员</th>
                    <th field="LinkMan" width="100px;">账户状态</th>
                    <th field="Comment" width="512px;">备注</th>
                </tr>
            </thead>
        </table>
    </div>
}

@section scripts{
    <script type="text/javascript" src="http://localhost:18000/CLodopfuncs.js?priority=1"></script>
    <script type="text/javascript">
        var userId_g = "@this.WorkContext.GetQueryString("userid")";
        var user;
        $(document.body)
            .ready(function () {
                user = CPSSLib.Page.manageList.init(userId_g, @MenuValueConstDefined.rtUserManage);
            });
    </script>
}