@model CPSS.Common.Core.RespondWebViewData<CPSS.Service.ViewService.ViewModels.Department.Respond.RespondQueryDepartmentViewModel>
@using CPSS.Service.ViewService.ViewModels.HeadButtons.Respond
@{
    ViewBag.Title = "EditDepartment";
    Layout = "~/Views/Shared/_Layout.cshtml";
    WorkContext.Resource
        //.AddPageCss("")
        .AddPageScripts("easyui-1.5/locale/easyui-lang-zh_CN", "grid/tablegrid", "easyui-1.5/plugins/jquery.datagrid.cellediting", "controlshelper", "basic/department/editdepartment");
    var buttonModel = new List<RespondHeadButtonsViewModel>
    {
        new RespondHeadButtonsViewModel{ ButtonName = "rtBasicDep_TB_Edit_Save", ButtonText = "保存"},
        new RespondHeadButtonsViewModel{ ButtonName = "rtBasicDep_TB_Edit_Cancel", ButtonText = "取消"},
    };
    var _model = Model.rows;
}
@section buttons{
    @Html.Partial("~/Views/Shared/CommonPartial/HeadButtons.cshtml", buttonModel)
}

<div id="billhead" class="easyui-panel" data-options="border: false" style="max-height: 500px; max-width: 100%; overflow: hidden;">
    <input type="hidden" id="txtSubComId" value="@_model.DepId" />
    @UIHelper.textBox("txtSerialNumber", "编号", _tabIndex: 1, _buttonText: string.Empty, _value: _model.SerialNumber)
    @UIHelper.textBox("txtName", "名称", _tabIndex: 2, _buttonText: string.Empty, _value: _model.Name)
    @UIHelper.textBox("txtSpelling", "拼音", _tabIndex: 3, _buttonText: string.Empty, _value: _model.Spelling)
    @UIHelper.textBox("txtSort", "排序", _tabIndex: 8, _buttonText: string.Empty, _value: _model.Sort)
    @UIHelper.textBox("txtComment", "备注", _tabIndex: 9, _buttonText: string.Empty, _multiline: "true", _width: 520, _height: 100, _value: _model.Comment)
</div>
@section scripts{
    <script type="text/javascript">
        $(document.body)
            .ready(function () {
                CPSSLib.Page.editDepartment.init(@this.WorkContext.GetQueryInt("depid"));
            });
    </script>
}
