@model CPSS.Common.Core.RespondWebViewData<CPSS.Service.ViewService.ViewModels.Department.Respond.RespondQueryDepartmentViewModel>
@using CPSS.Common.Core.Mvc.UIControl
@using CPSS.Service.ViewService.ViewModels.HeadButtons.Respond
@{
    ViewBag.Title = "EditDepartment";
    Layout = "~/Views/Shared/_Layout.cshtml";
    WorkContext.Resource
        //.AddPageCss("")
        .AddPageScripts("easyui-1.5/locale/easyui-lang-zh_CN", "grid/tablegrid", "easyui-1.5/plugins/jquery.datagrid.cellediting", "controlshelper", "basic/department/editdepartment");
    var buttonModel = new List<RespondHeadButtonsViewModel>
    {
        new RespondHeadButtonsViewModel{ ButtonName = "rtBasicDep_TB_Edit_Save", ButtonText = "保存"},
        new RespondHeadButtonsViewModel{ ButtonName = "rtBasicDep_TB_Edit_Cancel", ButtonText = "取消"},
    };
    var _model = Model.rows;
}
@section buttons{
    @Html.Partial("~/Views/Shared/CommonPartial/HeadButtons.cshtml", buttonModel)
}

<div id="billhead" class="easyui-panel" data-options="border: false" style="max-height: 500px; max-width: 100%; overflow: hidden;">
    @UIHelper.textBox(new TextBoxOption { ButtonText = string.Empty, Id = "txtSerialNumber", TabIndex = 1, LabelName = "编号", Value = _model.SerialNumber})
    @UIHelper.textBox(new TextBoxOption { ButtonText = string.Empty, Id = "txtName", TabIndex = 2, LabelName = "名称", Value = _model.Name})
    @UIHelper.textBox(new TextBoxOption { ButtonText = string.Empty, Id = "txtSpelling", TabIndex = 3, LabelName = "拼音", Value = _model.Spelling})
    @UIHelper.textBox(new TextBoxOption { ButtonText = string.Empty, Id = "txtSort", TabIndex = 4, LabelName = "排序", Value = _model.Sort})
    @UIHelper.textBox(new TextBoxOption { ButtonText = string.Empty, Id = "txtComment", TabIndex = 1, LabelName = "备注", Value = _model.Comment, Multiline = true, Width = 520, Height = 100})
</div>
@section scripts{
    <script type="text/javascript">
        $(document.body)
            .ready(function () {
                CPSSLib.Page.editDepartment.init(@this.WorkContext.GetQueryInt("depid"));
            });
    </script>
}
